*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    color:white;
    background-color:black;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.container{
    height:100vh;
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    

}
button{
    width:40px;
    height:40px;

}
.yellow{
    background-color:rgb(222, 222, 25)
}
.green{
    background-color:green;
}

